{% extends "layout.html" %}

    {% block content %}
        <h1>Alternates View</h1>
        <h2>Instance <a href="{{ uri }}">{{ uri }}</a></h2>
        <h4>Default view: <a href="{{ uri }}">{{ default_view_token }}</a></h4>
        <table class="layout">
            <tr>
                <th>Token</th>
                <th>Name</th>
                <th>Formats</th>
                <th>Languages</th>
                <th>Description</th>
                <th>Namespace</th>
            </tr>
        {% for token, vals in views.items() %}
            <tr>
                <td><a href="{{ uri }}?_view={{ token }}&_format={{ vals['default_format'] }}">{{ token }}</a></td>
                <td>{{ vals['label'] }}</td>
                <td>
                {% for f in vals['formats'] %}
                    <a href="{{ uri }}?_view={{ token }}&_format={{ f }}">{{ f }}</a><br />
                {% endfor %}
                </td>
                <td style="text-align: center;">
                {% for l in vals['languages'] %}
                    <a href="{{ uri }}?_view={{ token }}&_lang={{ l }}">{{ l }}</a><br />
                {% endfor %}
                </td>
                <td>{{ vals['comment'] }}</td>
                {% if vals['namespace'] is not none %}
                <td><a href="{{ vals['namespace'] }}">{{ vals['namespace'] }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
