{% extends "page.html" %}

{% block content %}
<h1>Concept: {{ concept.prefLabel }}</h1>
<h3>URI: <a href="{{ uri }}">{{ uri }}</a></h3>
<h3>Within vocab <a href="{{ url_for('routes.vocabulary', vocab_id=vocab_id) }}">{{ vocab_title }}</a></h3>
<table class="metadata concept">
    {% if concept.altLabels|length > 0 %}
    <tr>
        <th>Alternative Labels</th>
        <td class="list">
            {% for altLabel in concept.altLabels -%}
                {{ altLabel }}
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    <!-- don't display hiddenLabels, duh! -->
    {%  if concept.definition is not none  %}
    <tr>
        <th>Definition: </th><td>{{ concept.definition }}</td>
    </tr>
    {% endif %}
    {%  if concept.source is not none  %}
    <tr>
        <th>Source</th><td>{{ concept.source }}</td>
    </tr>
    {% endif %}
    {%  if concept.contributor is not none  %}
    <tr>
        <th>Contributor</th><td><a href="{{ concept.contributor }}">{{ concept.contributor }}</a></td>
    </tr>
    {% endif %}

    {% if concept.exactMatches %}
        <th>has exact match:</th>
        {% for match in concept.exactMatches %}
            <td><a href="{{ match }}">{{ h.make_title(match) }}</a></td>
        {% endfor %}
    {% endif %}

    {% if concept.closeMatches %}
        <th>has close match:</th>
        {% for match in concept.closeMatches %}
            <td><a href="{{ match }}">{{ h.make_title(match) }}</a></td>
        {% endfor %}
    {% endif %}

    {% if concept.broadMatches %}
        <th>has broad match:</th>
        {% for match in concept.broadMatches %}
            <td><a href="{{ match }}">{{ h.make_title(match) }}</a></td>
        {% endfor %}
    {% endif %}

    {% if concept.narrowMatches %}
        <th>has narrow match:</th>
        {% for match in concept.narrowMatches %}
            <td><a href="{{ match }}">{{ h.make_title(match) }}</a></td>
        {% endfor %}
    {% endif %}

    {% if concept.relatedMatches %}
        <th>has related match:</th>
        {% for match in concept.relatedMatches %}
            <td><a href="{{ match }}">{{ h.make_title(match) }}</a></td>
        {% endfor %}
    {% endif %}

    {% if concept.broaders|length > 0 %}
    <tr>
        {% if concept.broaders %}
        <th>Broader</th>
        <td class="list">
            {% for broader in concept.broaders -%}
            <a href="{{ request.base_url }}?vocab_id={{ vocab_id }}&uri={{ h.url_encode(broader.uri) }}">{{ broader.prefLabel }}</a><br />
            {% endfor %}
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% if concept.narrowers %}
    <tr>
        <th style="padding-right: 10px;">Narrower: </th>
        <td class="list">
            {% for narrower in concept.narrowers -%}
            <a href="{{ request.base_url }}?vocab_id={{ vocab_id }}&uri={{ h.url_encode(narrower.uri) }}">{{ narrower.prefLabel }}</a><br />
            {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>
<hr>
<h3>Alternate views</h3>
<p>Other model views of this Concept are listed in the <a href="{{ request.base_url }}?vocab_id={{ vocab_id }}&uri={{ h.url_encode(uri) }}&_view=alternates">Alternates View</a>.</p>
{% endblock %}
