{% extends "page.html" %}

{% block content %}
    <h1>Register</h1>
    <h2>Of
        {% if vocabulary_url %}
        <a href="{{ vocabulary_url }}"><em>{{ register_item_type_string }}</em></a>
        {% else %}
        <em>{{ register_item_type_string }}</em>
        {% endif %}

    </h2>
    <p></p>
    {% if search_enabled %}
    <form action="?search=">
        Search <em>{{ register_item_type_string }}:</em><br>
        <input type="text" name="search">
        <input type="submit" value="Submit">
    </form>
    {% endif %}
     <table>
        <tr>
            <td style="width:50%; vertical-align:top;">
                <h3>Instances</h3>
                {% if query %}
                <p><em>with search query "<strong>{{ query }}</strong>"</em></p>
                <form action="">
                    <input type="submit" value="Go back to all items">
                </form>
                <br>
                {% endif %}
                <ul>
                {%- for item in register_items -%}
                    {% if vocab_id %}
                    <li><a href="{{ request.url_root }}object?vocab_id={{ vocab_id }}&uri={{ h.url_encode(item[0]) }}">{{ item[1] }}</a></li>
                    {%- elif item is not string %}
                    <li><a href="{{ h.url_encode(item[0]) }}">{{ item[1] }}</a></li>
                    {%- else %}
                    <li><a href="{{ h.url_encode(item) }}">{{ item.split('#')[-1].split('/')[-1] }}</a></li>
                    {%- endif %}
                {%- endfor -%}
                </ul>
                <!-- pagination links as per MediaTypes -->
                {%  if pagination.links %}
                    <h5>Paging</h5>
                {%  endif %}
                {{ pagination.links }}
            </td>
            <td style="width:50%; vertical-align:top;">
                <h3>Alternate views</h3>
                <p>Different views of this register are at its <a href="{{ request.base_url }}?_view=alternates">Alternate views</a>.</p>
                <h3>Automated Pagination</h3>
                <p>To paginate this register, use the query string arguments 'page' for the page number and 'per_page' for the number of {{ register_class }} per page.</p>
                <p>HTTP <code>Link</code> headers of <code>first</code>, <code>prev</code>, <code>next</code> &amp; <code>last</code> are given to indicate URIs to the first, a previous, a next and the last page.</p>
                <p>Example, for Page #7 with 50 {{ register_class }} per page:</p>
                <pre>
{{  request.base_url }}?page=7&per_page=500
                </pre>
                <p>The Link header would contain:</p>
                <pre>
Link:   &lt;{{ request.base_url }}?per_page=50&gt; rel="first",
        &lt;{{ request.base_url }}?per_page=50&page=6&gt; rel="prev",
        &lt;{{ request.base_url }}?per_page=50&page=8&gt; rel="next",
        &lt;{{ request.base_url }}?per_page=50&page=10&gt; rel="last"
                </pre>
            </td>
        </tr>
    </table>
{% endblock %}
