{% extends "page.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Register</h1>
            <h2>Of
                {% if vocabulary_url %}
                <a href="{{ vocabulary_url[0] }}"><em>{{ register_item_type_string }}</em></a>
                {% else %}
                <em>{{ register_item_type_string }}</em>
                {% endif %}

            </h2>
            <p></p>
            {% if search_enabled %}
            <form action="?search=">
                Search <em>{{ register_item_type_string }}:</em><br>
                <input type="text" name="search">
                <input type="submit" value="Submit">
            </form>
            {% endif %}

            <h3>Instances</h3>
            {% if query %}
            <p><em>with search query "<strong>{{ query }}</strong>"</em></p>
            <form action="">
                <input type="submit" value="Go back to all items">
            </form>
            <br>
            {% endif %}
        </div>


        <div class="col-lg-8">
            {%- for item in register_items -%}

                <div class="card">

                    {# This is the concept register. #}
                    {% if vocab_id %}
                        <h4><a href="{{ request.url_root }}object?vocab_id={{ vocab_id }}&uri={{ h.url_encode(item['uri']) }}">{{ item['title'] }}</a></h4>

                    {# This is the vocabulary register. #}
                    {%- elif item is not string %}
                        <h4><a href="{{ h.url_encode(item['vocab_id']) }}">{{ item['title'] }}</a></h4>
                    {%- else %}
                        <h4><a href="{{ h.url_encode(item) }}">{{ item.split('#')[-1].split('/')[-1] }}</a></h4>
                    {%- endif %}


                    <table>

                        {% if item['date_created'] %}
                            <tr>
                                <th>Date created:</th>
                                <td>{{ item['date_created'] }}</td>
                            </tr>
                        {% endif %}

                        {% if item['date_modified'] %}
                            <tr>
                                <th>Date modified:</th>
                                <td>{{ item['date_modified'] }}</td>
                            </tr>
                        {% endif %}

                        {% if item['creators'] %}
                            <tr>
                                <th>Creators:</th>
                                {% for creator in item['creators'] %}
                                    <td><a href="{{ creator }}">{{ h.make_title(creator) }}</a></td>
                                {% endfor %}
                            </tr>
                        {% endif %}

                        {% if item['version'] %}
                            <tr>
                                <th>Version:</th>
                                <td>{{ item['version'] }}</td>
                            </tr>
                        {% endif %}

                    </table>
                </div>


            {%- endfor -%}
        </div>


        <div class="col-lg-4">
            <div class="altview">
                <h4>Alternates View</h4>
                <p>Different views of this register are at its <a href="{{ request.base_url }}?_view=alternates">Alternate views</a>.</p>
            </div>

            <div class="autopaginationinfo">
                <div><h4>Automated Pagination&nbsp;<span id="collapsible-toggle" class="collapsible" style="font-size: 14px;">(more)</span></h4></div>
                <div id="content-pagination" class="collapsible-content">
                    <p>To page through these items, use query string arguments 'page' and 'per_page'. HTTP <code>Link</code> headers of <code>first</code>, <code>prev</code>, <code>next</code> &amp; <code>last</code> are given in web responses.</p>
                <p>Example, assuming 500 items, page 7, of 50 per page, is given by:</p>
                <pre>.../?page=7&amp;per_page=50
                </pre>
                <p>Link header with a response assuming 500 items would be:</p>
                <pre>Link:   &lt;.../?per_page=500&gt; rel="first",
&lt;.../?per_page=500&amp;page=6&gt; rel="prev",
&lt;.../?per_page=500&amp;page=8&gt; rel="next",
&lt;.../?per_page=500&amp;page=10&gt; rel="last"
                </pre>
                <p>If you want to page through the whole collection, start at <code>first</code> and follow link headers until you reach <code>last</code> or until no <code>last</code> is given. You shouldn't try to calculate each <code>page</code> query string argument yourself.</p>
                </div>
            </div>
        </div>
    </div>




    <!-- pagination links as per MediaTypes -->
    {%  if pagination.links %}
        <h5>Paging</h5>
    {%  endif %}
    {{ pagination.links }}



    <script>
        var coll = document.getElementById("collapsible-toggle");

        coll.addEventListener("click", function() {
        var content = document.getElementById("content-pagination");
        if (content.style.display === "inline") {
          content.style.display = "none";
          document.getElementsByClassName("collapsible")[0].innerHTML = "(more)";
        } else {
          content.style.display = "inline";
          document.getElementsByClassName("collapsible")[0].innerHTML = "(less)";
        }
          });

    </script>

    <script>
        let cards = document.getElementsByClassName("card")
        let i;
        for (i = 0; i < cards.length; i++) {
            if (cards[i].children[1].children[0] === undefined) {
                cards[i].children[1].innerHTML = "<em>No metadata found.</em>";
            }
        }
    </script>
{% endblock %}

