{% extends "page.html" %}

{% block content %}
<h1>Vocabulary: {{ vocab.title }}</h1>
<h3>URI: {{ uri }}</h3>
<table class="metadata concept_scheme">
    <tr>
        <th>Description</th><td>{{ vocab.description }}</td>
    </tr>
    {%  if vocab.creator is not none  %}
    <tr>
        <th>Creator</th><td><a href="{{ vocab.creator }}">{{ vocab.creator }}</a></td>
    </tr>
    {% endif %}
    {%  if vocab.created is not none  %}
    <tr>
        <th>Created</th><td>{{ vocab.created }}</td>
    </tr>
    {% endif %}
    {%  if vocab.modified is not none  %}
    <tr>
        <th>Modified</th><td>{{ vocab.modified }}</td>
    </tr>
    {% endif %}
    {%  if vocab.versionInfo is not none  %}
    <tr>
        <th>Version Info</th><td>{{ vocab.versionInfo }}</td>
    </tr>
    <tr>
        <th>Download</th><td><a href="{{ vocab.downloadURL }}">RDF (turtle)</a></td>
    </tr>
    {% endif %}
    <tr>
        <th>Top Concepts</th>
        <td>
            {% for tc in vocab.hasTopConcepts %}
                <a href="{{ url_for('routes.object') }}?vocab_id={{ vocab.id }}&uri={{ tc[0] }}">{{ tc[1] }}</a><br />
            {% endfor %}
        </td>
    </tr>
</table>
<h3>Alternate views</h3>
<p>Other model views of this Vocabulary are listed in the <a href="{{ request.url }}&_view=alternates">Alternates View</a>.</p>
{% endblock %}
