{% extends "page.html" %}

{% block content %}
<h1>Vocabulary: {{ vocab.title }}</h1>
<h3>URI: <a href="{{ uri }}">{{ uri }}</a></h3>
<table class="metadata concept_scheme">
    {%  if vocab.description is not none  %}
    <tr>
        <th>Description</th><td>{{ vocab.description }}</td>
    </tr>
    {% endif %}
    {%  if vocab.creator is not none  %}
    <tr>
        <th>Creator</th><td><a href="{{ vocab.creator }}">{{ vocab.creator.split('/')[-1].split('#')[-1] }}</a></td>
    </tr>
    {% endif %}
    {%  if vocab.created is not none  %}
    <tr>
        <th>Created</th><td>{{ vocab.created }}</td>
    </tr>
    {% endif %}
    {%  if vocab.modified is not none  %}
    <tr>
        <th>Modified</th><td>{{ vocab.modified }}</td>
    </tr>
    {% endif %}
    {%  if vocab.versionInfo is not none  %}
    <tr>
        <th>Version Info</th><td>{{ vocab.versionInfo }}</td>
    </tr>
    {% endif %}
    {% if vocab.downloadURL %}
    <tr>
        <th>Download</th>
        <td>
                <a href="{{ vocab.downloadURL }}">RDF (turtle)</a>
        </td>
    </tr>
    {% endif %}
    {%  if vocab.hasTopConcepts is not none  %}
    <tr>
        <th>Top Concepts</th>
        <td>
            {% for tc in vocab.hasTopConcepts %}
                <a href="{{ url_for('routes.object') }}?vocab_id={{ vocab.id }}&uri={{ h.url_encode(tc[0]) }}">{{ tc[1] }}</a><br />
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {%  if vocab.conceptHierarchy is not none  %}
    <tr>
        <th>Concept Hierarchy</th>
        <td>
                {{ vocab.conceptHierarchy|safe }}
        </td>
    </tr>
    {% endif %}
</table>
<hr>
<h3>Alternate views</h3>
<p>Other model views of this Vocabulary are listed in the <a href="{{ request.base_url }}?_view=alternates">Alternates View</a>.</p>
{% endblock %}
