{% macro render_concept_hierarchy(hierarchy) %}
  <style>
    ul {
      list-style-type: none;
    }

    .caret {
      cursor: pointer;
      -webkit-user-select: none; /* Safari 3.1+ */
      -moz-user-select: none; /* Firefox 2+ */
      -ms-user-select: none; /* IE 10+ */
      user-select: none;
      margin-left: -20px;
    }

    .caret::before {
      content: "\002B" /*"\25B6"*/;
      color: #337ab7;
      display: inline-block;
      margin-right: 6px;
    }

    .caret-down::before {
      content: "\2212" ;
      /* -ms-transform: rotate(90deg); /* IE 9 */
      /* -webkit-transform: rotate(90deg); /* Safari */
      /* transform: rotate(90deg); */
    }

    .nested {
      display: none;
    }

    .active {
      display: block;
      list-style-type: none;
      margin-left: -20px;
    }

    .active li::before {
      /*content: "\2212" ;*/
      margin-right: 6px;
    }
    .tree-action {
        font-size: small;
    }
  </style>

  {% if hierarchy %}
    <a class="tree-action" id="tree-toggler">expand all</a><span style="font-size:small;">, click '+' to expand individually</span>
    {{ utils.render_concept_tree(hierarchy)|safe }}
  {% endif %}

  <script>
      var togglerOne = document.getElementsByClassName("caret");

      for (let i = 0; i < togglerOne.length; i++) {
        togglerOne[i].addEventListener("click", function() {
          this.parentElement.querySelector(".nested").classList.toggle("active");
          this.classList.toggle("caret-down");
        });
      }

      var togglerAll = document.getElementById("tree-toggler");

      togglerAll.addEventListener("click", function() {
          var caret = document.getElementsByClassName("caret");

          if(togglerAll.innerHTML === "expand all") {
              togglerAll.innerHTML = "collapse all";
              for(let i = 0; i < caret.length; i++) {
                  caret[i].classList.add('caret-down');
                  caret[i].nextElementSibling.classList.add('active');
              }
          } else {
              togglerAll.innerHTML = "expand all";
              for(let i = 0; i < caret.length; i++) {
                  caret[i].classList.remove('caret-down');
                  caret[i].nextElementSibling.classList.remove('active');
              }
          }
      })
  </script>
{% endmacro %}