{% extends "page.html" -%}
{% block content -%}
<h1>Catalog</h1>
<div class="overflow">
    <table class="metadata concept_scheme">
        <tr>
          <th>URI</th>
          <td><a href="{{ catalog.uri }}">{{ catalog.uri }}</a></td>
        </tr>
        <tr>
          <th><a href="http://purl.org/dc/terms/title">Title</a></th>
          <td><h3>{{ catalog.title }}</h3></td>
        </tr>
        {%  if catalog.description is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/description">Description</a>:</th><td>{{ catalog.description }}</td>
        </tr>
        {% endif -%}
        {%  if catalog.creator is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/creator">Creator</a>:</th><td><a href="{{ catalog.creator }}">{{ catalog.creator.split('/')[-1].split('#')[-1] }}</a></td>
        </tr>
        {% endif -%}
        {%  if catalog.created is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/created">Created</a>:</th><td>{{ catalog.created.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if catalog.modified is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/modified">Modified</a>:</th><td>{{ catalog.modified.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if catalog.versionInfo is not none  -%}
        <tr>
          <th><a href="http://www.w3.org/2002/07/owl#versionInfo">Version Info</a>:</th><td>{{ catalog.versionInfo }}</td>
        </tr>
        {% endif -%}
        {% if catalog.downloadURL -%}
        <tr>
          <th>Download:</th>
          <td>
            <a href="{{ catalog.downloadURL }}">RDF (turtle)</a>
          </td>
        </tr>
        {% endif -%}
        {% if catalog.other_properties is not none %}
          {% for prop in catalog.other_properties %}
            <tr>
              <th><a href="{{ prop.url }}">{{ prop.label }}</a>:</th>
              <td>
                {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
    </table>
    <h2>Datasets</h2>
    <ul>
    {% for dataset in catalog.datasets %}
      <li><a href="{{ url_for('object') }}?vocab_uri={{ dataset[0] }}">{{ dataset[1] }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="altprof">
  <h3>Alternate Profiles</h3>
  <p>
    Different views and formats of this vocabulary are here: <a href="?_profile=alt">Alternate Profiles</a>.
    <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
</div>
{% endblock -%}
