{% extends "page.html" %}

{% block content %}
<h1>Collection</h1>
<dl>
  <dt>Preferred Label</dt>
  <dd><h2>{{ collection.prefLabel }}</h2></dd>
  <dt>URI</dt>
  <dd><a href="{{ uri }}">{{ uri }}</a></dd>
  {%  if vocab_uri is not none %}
  <dt>Within Vocab</dt>
  <dd><a href="{{ url_for('object', uri=vocab_uri) }}">{{ vocab_title }}</a></dd>
  {% endif %}
</dl>
<table class="metadata collection">
    {%  if collection.comment is not none  %}
    <tr>
        <th><a href="http://www.w3.org/2004/02/skos/core#definition">Definition</a></th><td>{{ collection.definition }}</td>
    </tr>
    {% endif %}
    {% if collection.members|length > 0 %}
    <tr>
      <th><a href="http://www.w3.org/2004/02/skos/core#member">Members</a></th>
        <td class="list">
          {% for member in collection.members -%}
            {% if LOCAL_URLS -%}
              <a href="{{ url_for('object') }}?vocab_uri={{ vocab_uri }}&uri={{ member[0] }}">{{ member[1] }}</a><br>
            {% else -%}
              <a href="{{ member[0] }}">{{ member[1] }}</a><br>
            {% endif -%}
          {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>
<div class="altprof">
  <h3>Alternate Profiles</h3>
  <p>Different views and formats of this concept are here: <a href="{{ url_for("object") }}?vocab_uri={{ vocab_uri }}&uri={{ uri }}&_profile=alt">Alternate Profiles</a>.</p>
</div>
{% endblock %}
