{% extends "page.html" %}

{% block content %}
<h1>Collection</h1>
<dl>
  <dt>Preferred Label</dt>
  <dd><h2>{{ collection.prefLabel }}</h2></dd>
  <dt>URI</dt>
  <dd><a href="{{ utils.get_content_uri(uri) }}">{{ uri }}</a></dd>
  {%  if vocab_uri is not none %}
  <dt>Within Vocab</dt>
  <dd><a href="{{ utils.get_content_uri(vocab_uri) }}">{{ vocab_title }}</a></dd>
  {% endif %}
</dl>
<table class="metadata collection">
    {%  if collection.comment is not none  %}
    <tr>
        <th><a href="http://www.w3.org/2004/02/skos/core#definition">Definition</a></th><td>{{ collection.definition|safe }}</td>
    </tr>
    {% endif %}
    {% if collection.members|length > 0 %}
    <tr>
      <th><a href="http://www.w3.org/2004/02/skos/core#member">Members</a></th>
        <td class="list">
          {% for member in collection.members -%}
            <li><a href="{{ utils.get_content_uri(member[0]) }}">{{ member[1] }}</a></li>
          {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>
{% include 'alt_links.html' %}
{% endblock %}
