{% extends "page.html" %}
{% from "_format.html" import format with context -%}
{% block content %}

<h1>Concept</h1>

{# status #}
{% if "http://www.opengis.net/def/metamodel/ogc-na/status" in concept.annotations.keys() %} {# we have a status marker #}
  <div class="status {{ utils.get_status_label(concept.annotations["http://www.opengis.net/def/metamodel/ogc-na/status"][1]) }}"></div>
{% endif %}

<dl>
  <dt>Preferred Label</dt>
  <dd><h2>{{ concept.prefLabel }}</h2></dd>
  <dt>URI</dt>
  <dd><a href="{{ utils.get_content_uri(uri) }}">{{ uri }}</a></dd>
  {%  if vocab_uri is not none %}
  <dt>Within Vocab</dt>
  <dd><a href="{{ utils.get_content_uri(vocab_uri) }}">{{ vocab_title }}</a></dd>
  {% endif %}
</dl>
<table class="metadata concept">
  <tr>
    <th><a href="http://www.w3.org/2004/02/skos/core#prefLabel">Preferred Label</a></th>
    <td>{{ concept.prefLabel }}</td>
  </tr>
  {% if concept.altLabels|length > 0 %}
  <tr>
    <th><a href="http://www.w3.org/2004/02/skos/core#altLabel">Alternative Labels</a></th>
    <td>
      {% for a in concept.altLabels %}
        {{ a }}
      {% endfor %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <th><a href="http://www.w3.org/2004/02/skos/core#definition">Definition</a></th>
      <td>{{ concept.definition|safe }}</td>
  </tr>
  {% if concept.related_instances|length > 0 %}
    {% for k, v in concept.related_instances.items() %}
    <tr>
      <th><a href="{{ k }}">{{ v["label"] }}</a></th>
      <td>
        {%  for inst in v["instances"] %}
            <a href="{{ utils.get_content_uri(inst[0]) }}">{{ inst[1] }}</a><br />
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
{% endif %}
{% if concept.annotations|length > 0 %}
  {% for k, v in concept.annotations.items() %}
  <tr>
    <th><a href="{{ k }}">{{ v[0] }}</a></th>
    {%  if v|length == 3 %}
    <td><a href="{{ v[1] }}">{{ v[2] }}</a></td>
    {% else %}
      <td>{{ v[1] }}</td>
    {% endif %}
  </tr>
  {% endfor %}
{% endif %}
{% if concept.other_properties is not none %}
  {% for prop in concept.other_properties %}
    <tr>
      <th><a href="{{ prop.url }}">{{ prop.label }}</a></th>
      <td>
        {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
      </td>
    </tr>
  {% endfor %}
{% endif %}
</table>
<div class="altprof">
  <h3>Alternate Profiles</h3>
  <p>
    Different views and formats: <a href="{{ utils.get_content_uri(uri) }}&_profile=alt">Alternate Profiles</a>.
    <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
</div>
{% endblock %}
