{% extends "page.html" %}
{% block content %}
  <div>
    <h1>{{ title}}</h1>
  </div>
  <div id="maincontent">
    <div>
      {{ description|safe }}
    </div>
    <dl>
      <dt>URI</dt>
      <dd><a href="{% if LOCAL_URLS %}{{ url_for('object') }}?uri={% endif %}{{ uri }}">{{ uri }}</a></dd>
      <dt>Publisher</dt>
      <dd>
        <a href="{% if LOCAL_URLS %}{{ url_for('object') }}?uri={% endif %}{{ publisher[0] }}">{{ publisher[1] }}</a>
      </dd>
    </dl>
  </div>
  {% include 'alt_link.html' %}
{% endblock %}