<!DOCTYPE html>
<html lang="en">
<head lang="en">
  <meta charset="UTF-8">
  <title>VocPrez</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='vocprez.css') }}">
  {%- if extra_styling is defined %}
  <style>
      {{ extra_styling }}
  </style>
  {% endif %}
</head>
<body>
  <div id="vocprez">
    made by <a href="http://github.com/rdflib/VocPrez">VocPrez</a>&nbsp;
    <a id="versionlink" href="https://github.com/RDFLib/VocPrez/releases/tag/{{ utils.version() }}">{{ utils.version() }}</a>
  </div>
  <div id="header" style="grid-column:2;">
    VocPrez
  </div><!-- #header -->
  <div id="mainmenu" style="grid-column:2;">
    {% include 'nav.html' %}
  </div>
  <div id="content" style="grid-column:2;">
    {% block breadcrumbs %}{% endblock %}
    {% block content %}{% endblock %}
  </div><!-- #content -->
  <div id="footer" style="grid-column:2;"></div><!-- #footer -->
</body>
</html>