{% extends "page.html" -%}
{% from "_concept_hierarchy.html" import render_concept_hierarchy with context -%}
{% block content -%}
<h1>Vocabulary: {{ vocab.title }}</h1>
<h3>URI: <a href="{{ uri }}">{{ uri }}</a></h3>
<div class="overflow">
    <table class="metadata concept_scheme">
        {%  if vocab.description is not none  -%}
        <tr>
            <th>Description:</th><td>{{ vocab.description }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.creator is not none  -%}
        <tr>
            <th>Creator:</th><td><a href="{{ vocab.creator }}">{{ vocab.creator.split('/')[-1].split('#')[-1] }}</a></td>
        </tr>
        {% endif -%}
        {%  if vocab.created is not none  -%}
        <tr>
            <th>Created:</th><td>{{ vocab.created.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.modified is not none  -%}
        <tr>
            <th>Modified:</th><td>{{ vocab.modified.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.versionInfo is not none  -%}
        <tr>
            <th>Version Info:</th><td>{{ vocab.versionInfo }}</td>
        </tr>
        {% endif -%}
        {% if vocab.downloadURL -%}
        <tr>
            <th>Download:</th>
            <td>
                <a href="{{ vocab.downloadURL }}">RDF (turtle)</a>
            </td>
        </tr>
        {% endif -%}
        {%  if vocab.concept_hierarchy is not none and vocab.concept_hierarchy|length > 0  -%}
        <tr>
            <th>Concept Hierarchy:</th>
            <td>
                {{ render_concept_hierarchy(vocab.concept_hierarchy)|safe }}
            </td>
        </tr>
        {% endif -%}
        {%  if vocab.collections is not none and vocab.collections|length > 0  -%}
        <tr>
            <th>Collections:</th>
            <td>
              {% for collection in vocab.collections %}
                <a href="{{ collection[0] }}">{{ collection[1] }}</a><br />
              {% endfor %}
            </td>
        </tr>
        {% endif -%}
    </table>
</div>
<footer class="content-footer">
    <h3>Alternate Profiles</h3>
    <p>Different views and formats of this vocabulary are here: <a href="{{ request.base_url }}?_profile=alt">Alternate Profiles</a>.</p>
</footer>
{% endblock -%}
