{% extends "page.html" -%}
{% from "_concept_hierarchy.html" import render_concept_hierarchy with context -%}
{% block content -%}
<h1>Vocabulary</h1>
<dl>
  <dt><a href="http://www.w3.org/2004/02/skos/core#prefLabel">Preferred Label</a></dt>
  <dd><h3>{{ vocab.title }}</h3></dd>
  <dt>URI</dt>
  <dd><a href="{{ utils.get_content_uri(uri) }}">{{ uri }}</a></dd>
</dl>
<div class="overflow">
    <table class="metadata concept_scheme">
        {%  if vocab.description is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/description">Description</a></th><td>{{ vocab.description|safe }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.creator is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/creator">Creator</a></th><td><a href="{{ vocab.creator }}">{{ vocab.creator.split('/')[-1].split('#')[-1] }}</a></td>
        </tr>
        {% endif -%}
        {%  if vocab.created is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/created">Created</a></th><td>{{ vocab.created.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.modified is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/modified">Modified</a></th><td>{{ vocab.modified.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.versionInfo is not none  -%}
        <tr>
          <th><a href="http://www.w3.org/2002/07/owl#versionInfo">Version Info</a></th><td>{{ vocab.versionInfo }}</td>
        </tr>
        {% endif -%}
        {% if vocab.downloadURL -%}
        <tr>
          <th>Download:</th>
          <td>
            <a href="{{ vocab.downloadURL }}">RDF (turtle)</a>
          </td>
        </tr>
        {% endif -%}
        {%  if vocab.concept_hierarchy is not none and vocab.concept_hierarchy|length > 0  -%}
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#hasTopConcept">Concept Hierarchy</a></th>
          <td>
              {{ render_concept_hierarchy(vocab.concept_hierarchy)|safe }}
          </td>
        </tr>
        {% endif -%}
        {% if vocab.other_properties is not none %}
          {% for prop in vocab.other_properties %}
            <tr>
              <th><a href="{{ prop.url }}">{{ prop.label }}</a></th>
              <td>
                {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
        {% if vocab.collections == "Collection" %}
          <tr>
            <th><a href=http://www.w3.org/2004/02/skos/core#member">Members</a></th>
            <td>
              {% for concept in vocab.concepts %}
                <a href="{% if LOCAL_URLS %}{{ url_for('object') }}?vocab_uri={{ uri }}&uri={% endif %}{{ concept[0] }}">{{ concept[1] }}</a><br />
              {% endfor -%}
            </td>
          </tr>
        {% elif vocab.collections is not none and vocab.collections|length > 0  -%}
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#Collection">Collections</a></th>
          <td>
            {% for collection in vocab.collections %}
              {% if LOCAL_URLS -%}
                <a href="{{ url_for('object') }}?vocab_uri={{ uri }}&uri={{ collection[0] }}">{{ collection[1] }}</a><br />
              {% else -%}
                <a href="{{ collection[0] }}">{{ collection[1] }}</a><br />
              {% endif -%}
            {% endfor %}
          </td>
        </tr>
        {% endif -%}
    </table>
</div>
<div class="search">
  <h3>Search</h3>
  <form action="{{ url_for("search") }}" method="get" style="">
    <input type="text" id="search" name="search" style="grid-column: 1;" />
    <input type="hidden" id="from" name="from" value="{{ uri }}" />
    <label for="voc" style="grid-column: 2;">Your search term</label><br />
    <input type="submit" value="Search" style="grid-column: 1;" />
  </form>
</div>
<div class="altprof">
  <h3>Alternate Profiles</h3>
  <p>
    Different views and formats: <a href="{{ utils.get_content_uri(uri) }}&_profile=alt">Alternate Profiles</a>.
    <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
</div>
{% endblock -%}
