{% extends "page.html" -%}
{% from "_concept_hierarchy.html" import render_concept_hierarchy with context -%}
{% set label = "Vocabulary" %}

{% block content %}
  <p style="font-size:small;"><a href="{{ url_for('index') }}">System Home</a> / <a href="{{ url_for('vocabularies') }}">Vocabularies</a> / <a href="{{ utils.get_content_uri(uri) }}">{{ vocab.title }}</a></p>
  <div style="grid-column: 1; grid-row: 1;">
    <h1>{{ label }}</h1>
  </div>
  <div style="grid-column: 2; grid-row: 2;">
    {% include 'alt_link.html' %}
  </div>
  <div style="grid-column: 2; grid-row: 3;">
    <div class="search">
    <h3>Search</h3>
    <form action="{{ url_for("search") }}" method="get" style="">
      <input type="text" id="search" name="search" style="grid-column: 1;" />
      <input type="hidden" id="from" name="from" value="{{ uri }}" />
      <label for="voc" style="grid-column: 2;">Your search term</label><br />
      <input type="submit" value="Search" style="grid-column: 1;" />
    </form>
  </div>
  </div>
  <div style="grid-column: 1; grid-row: 2;">
    <dl>
      <dt>
        <span class="tooltip">Preferred Label<span class="tooltiptext"><a href="http://www.w3.org/2004/02/skos/core#prefLabel">skos:prefLabel</a></span></span>
      </dt>
      <dd><h2>{{ vocab.title }}</h2></dd>
      <dt>URI</dt>
      <dd>
        <a href="{{ utils.get_content_uri(uri) }}" id="uri">{{ uri }}</a>
        <a href="{{ uri }}" class="tooltip">&#8599;<span class="tooltiptext" style="color:black;">Go to the persistent identifier link</span></a>
      </dd>
    </dl>
  </div>
  <div style="grid-column: 1; grid-row: 3;">
    <table class="metadata concept_scheme">
          {%  if vocab.description is not none  -%}
          <tr>
            <th><span class="tooltip">Definition<span class="tooltiptext"><a href="http://www.w3.org/2004/02/skos/core#definition">skos:definition</a></span></span></th>
            <td>{{ vocab.description|safe }}</td>
          </tr>
          {% endif -%}
          {%  if vocab.creator is not none  -%}
          <tr>
            <th><span class="tooltip">Creator<span class="tooltiptext"><a href="http://purl.org/dc/terms/creator">dcterms:creator</a></span></span></th>
            <td>
              {% if vocab.creator.startswith("http") %}
              <a href="{{ vocab.creator }}">{{ vocab.creator.split('/')[-1].split('#')[-1] }}</a>
              {% else %}
              {{ vocab.creator }}
              {% endif %}
              {# TODO: implement URI/label pairs for Agents like other props, and include publisher, contributor
              {% if prop.value.startswith('http') %}
                {% if prop.value_label is not none %}
                <a href="{{ utils.get_content_uri(prop.value) }}">{{ prop.value_label }}</a>
                {% else %}
                <a href="{{ prop.value }}">{{ prop.value }}</a>
                {% endif %}
              {% else %}
                {{ prop.value }}
              {% endif %}
              #}
            </td>
          </tr>
          {% endif -%}
          {%  if vocab.created is not none  -%}
          <tr>
            <th><span class="tooltip">Created<span class="tooltiptext"><a href="http://purl.org/dc/terms/created">dcterms:created</a></span></span></th>
            <td>{{ vocab.created.strftime('%Y-%m-%d') }}</td>
          </tr>
          {% endif -%}
          {%  if vocab.modified is not none  -%}
          <tr>
            <th><span class="tooltip">Modified<span class="tooltiptext"><a href="http://purl.org/dc/terms/modified">dcterms:modified</a></span></span></th>
            <td>{{ vocab.modified.strftime('%Y-%m-%d') }}</td>
          </tr>
          {% endif -%}
          {%  if vocab.versionInfo is not none  -%}
          <tr>
            <th><span class="tooltip">Version Info<span class="tooltiptext"><a href="http://www.w3.org/2002/07/owl#versionInfo">owl:versionInfo</a></span></span></th>
            <td>{{ vocab.versionInfo }}</td>
          </tr>
          {% endif -%}
          {% if vocab.downloadURL -%}
          <tr>
            <th>Download:</th>
            <td>
              <a href="{{ vocab.downloadURL }}">RDF (turtle)</a>
            </td>
          </tr>
          {% endif -%}
          {%  if vocab.concept_hierarchy is not none and vocab.concept_hierarchy|length > 0  -%}
          <tr>
            <th><span class="tooltip">Concept Hierarchy<span class="tooltiptext"><a href="http://www.w3.org/2004/02/skos/core#hasTopConcept">skos:hasTopConcept</a><br />then<br/><a href="http://www.w3.org/2004/02/skos/core#inScheme">skos:inScheme</a></span></span></th>
            <td>
                {{ render_concept_hierarchy(vocab.concept_hierarchy)|safe }}
            </td>
          </tr>
          {% endif -%}
          {% if vocab.other_properties is not none %}
            {% for prop in vocab.other_properties %}
              <tr>
                <th><a href="{{ prop.url }}">{{ prop.label }}</a></th>
                <td>
                  {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
          {% if vocab.collections == "Collection" %}
            <tr>
              <th><a href=http://www.w3.org/2004/02/skos/core#member">Members</a></th>
              <td>
                {% for concept in vocab.concepts %}
                  <a href="{% if USE_SYSTEM_URIS %}{{ url_for('object') }}?vocab_uri={{ uri }}&uri={% endif %}{{ concept[0] }}">{{ concept[1] }}</a><br />
                {% endfor -%}
              </td>
            </tr>
          {% elif vocab.collections is not none and vocab.collections|length > 0  -%}
          <tr>
            <th><span class="tooltip">Collections<span class="tooltiptext"><a href="http://www.w3.org/2004/02/skos/core#Collection">skos:Collection</a> instances</span></span></th>
            <td>
              {% for collection in vocab.collections %}
                <a href="{{ utils.get_content_uri(collection[0]) }}">{{ collection[1] }}</a><br />
              {% endfor %}
            </td>
          </tr>
          {% endif -%}
      </table>
  </div>
{% endblock -%}
