{% extends "page.html" %}

{% block content %}
<h1>Concept: {{ concept.prefLabel }}</h1>
<h3>URI: <a href="{{ uri }}">{{ uri }}</a></h3>
<h3>Within vocab <a href="{{ url_for('routes.vocabulary', vocab_id=vocab_id) }}">{{ vocab_title }}</a></h3>
<table class="metadata concept">
    {% if concept.created %}
    <tr>
        <th style="padding-right: 10px;">Date created:</th>
        <td>{{ concept.created }}</td>
    </tr>
    {% endif %}

    {% if concept.modified %}
    <tr>
        <th>Date modified:</th>
        <td>{{ concept.modified }}</td>
    </tr>
    {% endif %}

    {% if concept.lang_prefLabels|length > 0 %}
    <tr>
        <th style="padding-right: 10px;">Other Language Labels</th>
        <td class="list">
            {% for lang, prefLabel in concept.lang_prefLabels.items() -%}
                {{ prefLabel }} ({{ lang }})<br>
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    {% if concept.altLabels|length > 0 %}
    <tr>
        <th>Alternative Labels</th>
        <td class="list">
            {% for altLabel in concept.altLabels -%}
                {{ altLabel }}
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    <!-- don't display hiddenLabels, duh! -->

    {%  if concept.definition is not none  %}
    <tr>
        <th>Definition: </th><td>{{ format(concept.definition) }}</td>
    </tr>
    {% endif %}

    {%  if concept.contributor  %}
        {% for cont in concept.contributor %}
            <tr>
                <th>Contributor</th><td>{{ format(concept.contributor) }}</td>
            </tr>
        {% endfor %}
    {% endif %}

    {%  if concept.source is not none  %}
    <tr>
        <th>Source</th><td>{{ format(concept.source) }}</td>
    </tr>
    {% endif %}
    {% for relationship, relationship_label in [
        ('exactMatch', 'has exact match'),
        ('closeMatch', 'has close match'),
        ('broadMatch', 'has broad match'),
        ('narrowMatch', 'has narrow match'),
        ('broader', 'Broader'),
        ('narrower', 'Narrower'),
        ] %}

        {% if concept.concept_relationships[relationship] -%}
            <tr>
                <th style="padding-right: 10px;">{{relationship_label}}:</th>
                <td class="list">
                    {% for concept_uri, concept_label in concept.concept_relationships[relationship].items() -%}
                    <a href="{{ concept_uri }}">{{ concept_label }}</a><br>
                    {% endfor -%}
                </td>
            </tr>
        {% endif -%}
    {% endfor -%}
</table>
<hr>
<h3>Alternate views</h3>
<p>Other model views of this Concept are listed in the <a href="{{ request.base_url }}?vocab_id={{ vocab_id }}&uri={{ h.url_encode(uri) }}&_view=alternates">Alternates View</a>.</p>
{% endblock %}
