{% extends "page.html" %}

{% block content %}
    <h1>VocPrez Home</h1>

    {% set title = title %}

<p>Welcome to an instance of VocPrez, a read-only web delivery system for Simple Knowledge Organization System (SKOS)-formulated RDF vocabularies.</p>

<p>VocPrez presents different views, or <em>profiles</em>, of vocabularies which it can get from a number of different RDF sources, such as local RDF files, <a href="https://vocabs.ands.org.au/">Research Vocabularies Australia</a> (a vocabulary management system), the <a href="http://vocbench.uniroma2.it/">VocBench</a> too or a SPARQL endpoint. </p>

<p>See the <a href="about">About page</a> for more information.</p>

<h2>Vocabularies</h2>
<p>See the <a href="{{ url_for('routes.vocabularies') }}">list of Vocabularies</a>.</p>

<h2>Concepts</h2>
<p>SKOS concepts are listed in a couple of different ways listed within a vocabulary's landing page. Also, the pure list of concepts is accessible via a dedicated endpoint which is the vocabulary endpoint + <code>/concepts/</code>, e.g.:</p>
  <ul><li><a href="{{ url_for('routes.vocabularies') }}{{ voc_key }}/concept/">Concepts</a> - for the <em>{{ voc_key }}</em> vocabulary</li></ul>

<h2>Collections</h2>
<p><i>Coming soon.</i></p>

{% endblock %}
