{% extends "page.html" %}
{% from "macros/concept_hierarchy.html" import render_concept_hierarchy with context %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <h1>Vocabulary: {{ vocab.title }}</h1>
            <h3>URI: <a href="{{ uri }}">{{ uri }}</a></h3>
            <div class="overflow">
                <dl>
                    {%  if vocab.description is not none  %}
                    <dt>Description:</dt><dd>{{ vocab.description }}</dd>
                    {% endif %}
                    {%  if vocab.creator is not none  %}
                    <dt>Creator:</dt><dd><a href="{{ vocab.creator }}">{{ vocab.creator.split('/')[-1].split('#')[-1] }}</a></dd>
                    {% endif %}
                    {%  if vocab.created is not none  %}
                    <dt>Created:</dt><dd>{{ vocab.created.strftime('%Y-%m-%d') }}</dd>
                    {% endif %}
                    {%  if vocab.modified is not none  %}
                    <dt>Modified:</dt><dd>{{ vocab.modified.strftime('%Y-%m-%d') }}</dd>
                    {% endif %}
                    {%  if vocab.versionInfo is not none  %}
                    <dt>Version Info:</dt><dd>{{ vocab.versionInfo }}</dd>
                    {% endif %}
                    {% if vocab.downloadURL %}
                    <dt>Download:</dt><dd><a href="{{ vocab.downloadURL }}">RDF (turtle)</a></dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <div class="col-md-4">
            <div class="altview">
                <h4>Alternates Profiles</h4>
                <p>Different profile views of this register are here: <a href="{{ request.base_url }}?_profile=alt">All Profiles</a>.</p>
            </div>
        </div>
        <div class="col-md-12">
            <dl>
                {%  if vocab.concept_hierarchy is not none and vocab.concept_hierarchy|length > 0  %}
                <dt>Concept Hierarchy:</dt>
                <dd>{{ render_concept_hierarchy(vocab.concept_hierarchy)|safe }}</dd>
                {% endif %}
                <dt>Concepts list:</dt><dd><a href="{{ url_for('routes.vocabulary', vocab_id=vocab.id) }}/concept/">Concepts</a> endpoint</dd>
                {%  if vocab.collections is not none and vocab.collections|length > 0  %}
                <dt>Collections:</dt>
                <dd>
                    {% for tc in vocab.collections %}
                    {% if config.LOCAL_URLS -%}
                        <a href="{{ url_for('routes.object') }}?vocab_id={{ vocab.id }}&uri={{ h.url_encode(tc[0]) }}">{{ tc[1] }}</a><br />
                    {% else -%}
                        <a href="{{ tc[0] }}">{{ tc[1] }}</a><br />
                    {% endif -%}
                    {% endfor %}
                </dd>
                {% endif %}
            </dl>
        </div>
    </div>
{% endblock %}
