{% extends "page.html" %}
{% from "macros/concept_hierarchy.html" import render_concept_hierarchy with context %}
{% block content %}
    <div style="display:grid; grid-template-rows: 50px auto; grid-template-columns: 70% auto;">
        <div style="grid-column:1/3; grid-row:1;">
            <h1>Vocabulary: {{ vocab.title }}</h1>
        </div>
        <div style="grid-column:1; grid-row:2;">
            <h3>URI: <a href="{{ uri }}">{{ uri }}</a></h3>
            <div class="overflow">
            <table class="metadata concept_scheme">
                {%  if vocab.description is not none  %}
                <tr>
                    <th>Description:</th><td>{{ vocab.description }}</td>
                </tr>
                {% endif %}
                {%  if vocab.creator is not none  %}
                <tr>
                    <th>Creator:</th><td><a href="{{ vocab.creator }}">{{ vocab.creator.split('/')[-1].split('#')[-1] }}</a></td>
                </tr>
                {% endif %}
                {%  if vocab.created is not none  %}
                <tr>
                    <th>Created:</th><td>{{ vocab.created.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endif %}
                {%  if vocab.modified is not none  %}
                <tr>
                    <th>Modified:</th><td>{{ vocab.modified.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endif %}
                {%  if vocab.versionInfo is not none  %}
                <tr>
                    <th>Version Info:</th><td>{{ vocab.versionInfo }}</td>
                </tr>
                {% endif %}
                {% if vocab.downloadURL %}
                <tr>
                    <th>Download:</th>
                    <td>
                            <a href="{{ vocab.downloadURL }}">RDF (turtle)</a>
                    </td>
                </tr>
                {% endif %}
                {%  if vocab.concept_hierarchy is not none and vocab.concept_hierarchy|length > 0  %}
                <tr>
                    <th>Concept Hierarchy:</th>
                    <td>
                            {{ render_concept_hierarchy(vocab.concept_hierarchy)|safe }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>All Concepts:</th>
                    <td>
                            <a href="{{ url_for('routes.vocabulary', vocab_id=vocab.id) }}/concept/">list of all concepts</a>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <div style="grid-column:2; grid-row:2;">
          <div class="altprofiles">
            <h4>Alternate Profiles</h4>
            <p>Different views of and formats:</p>
            <ul>
              <li><a href="{{ request.base_url }}?_profile=alt">Alternate Profiles</a></li>
            </ul>
          </div>
        </div>
    </div>
{% endblock %}
