
#content {
    margin-bottom: 40px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(53, 52, 53, 0.1);
    border: 1px solid rgba(53, 52, 53, 0.1);
    border-radius: 2px;
    background: white;
}

#mainmenu {
    margin-top: 10px;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 10px rgba(53, 52, 53, 0.1);
    border: 1px solid rgba(53, 52, 53, 0.1);
    border-radius: 2px;
    background: white;
    text-align: center;
}

#mainmenu a {
    margin: 0 10px 0 10px;
}

p, ul, td, th {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}
ul > li {
    margin-left: 25px;
}

h1 {

}

h2, h3 {
	font-family:sans-serif;
	font-weight:normal;
}

p, li {
	color: #000000;
	line-height: 1.5em;
	padding: 0.2em 0 0.1em
}

dt {
    font-weight: bold;
    padding: 10px 0 5px 0;
    color: #364049;
}
dd {
    margin-left: 50px;
}
a {
	color: #006983;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.figure {
	text-align: center;
}
.caption {
	font-size: small;
}

.definition {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed;
}




code {
    font-family: "Courier New", sans-serif;
}

p {
    margin-bottom: 10px;
}

.metadata tr th {
    font-weight: bold;
    text-align:left;
    padding-right: 10px;
}

.metadata tr th,
.metadata tr td {
    padding-bottom: 10px;
}


