<!-- following https://www.dnrme.qld.gov.au/mining-resources/initiatives/qld-mine-safety-framework -->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='master.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='extra.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='cgi_theme.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,700" rel="stylesheet">
   <!-- <link rel="shortcut icon" type="image/png" href="https://static.qgov.net.au/assets/v2/images/skin/favicon.ico"> -->
</head>
<body>
    <header>
        <div id="header">
          <table class="header">
            <tr>
              <td>
                <img id="IUGS_logo" src="{{ url_for('static', filename = 'IUGS_logo.png') }}" />
              </td>
              <td>
                <img id="CGI_logo" src="{{ url_for('static', filename = 'CGI_logo.jpg') }}" />
              </td>
              <td>
                <img id="GeoSciML_logo" src="{{ url_for('static', filename = 'GeoSciML_logo.png') }}" />
              </td>
              <td>
                <img id="ERML_logo" src="{{ url_for('static', filename = 'ERML_logo.png') }}" />
              </td>
            </tr>
          </table>
          <div id="cgi-colour-strip-container">
            <img id="cgi-colour-strip" src="{{ url_for('static', filename = 'cgi_line.png') }}" />
          </div>
        </div>
    </header>

    <div class="breadcrumbs" style="height:75px; padding-top:30px; text-align:center;">
        <div id="inner flex" style="margin: 0 auto; width:1245px; text-align:left;">
            {% for nav in navs %}
                {{ nav|safe }}
            {% endfor %}

            <a href="{{ url_for('routes.index') }}">Home</a> /
            <a href="{{ url_for('routes.geosciml') }}">GeoSciML</a> /
            <a href="{{ url_for('routes.vocabularies') }}">Vocabularies</a> /
            <a href="">Concepts</a> /
            <a href="">Developer Tools</a>
            <!--<a href="{{ url_for('routes.about') }}">About VocPrez</a> /
                       <!--  <a href="http://www.cgi-iugs.org/">About CGI </a> /-->

                      <!--   <a href="http://www.earthresourceml.org/">EarthResourceML</a> /-->
                      <!--  <a href="http://resource.geosciml.org/">CGI vocabularies</a> -->
        </div>
    </div>
    <div id="container-content" style="text-align:center;">
        <div style="margin: 0 auto; width:1245px; text-align:left;" class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer-container">
	<div id="footer-links">
        <table class="footer">
            <tr>
                <td>
                    <p style="text-align:left;">
            <a href="http://creativecommons.org/licenses/by/4.0/legalcode"><img src="{{ url_for('static', filename = 'cc_icon.png') }}" style="width:88px;" /></a>
        </p>
                </td>
                <td>
                    CGI © {{ date.year }}. This site is hosted by <a href="http://www.ga.gov.au/">Geoscience Australia</a> but responsibility and copyright for the site
                    content lies with the <a href="http://www.cgi-iugs.org/">IUGS CGI</a>. Questions, suggestions or comments regarding the contents of this
                    site should be directed to the <a href="mailto:CGIsecretariat@mail.cgs.gov.cn">CGI secretariat</a>.
                </td>
            </tr>
        </table>
	</div>
</div>
</body>
</html>
