{% extends "page.html" %}

{% block content %}
    <div style="text-align: center;">
        <a href="https://github.com/RDFlib/VocPrez">
            <img src="{{url_for('static', filename='VocPrez.svg')}}" style="width:150px;" alt="VocPrez logo">
        </a>
    </div>
    <h4>
        You are looking at the system home page of an instance of <a href="https://github.com/RDFlib/VocPrez">VocPrez</a>. It is a system designed to deliver <a href="https://www.w3.org/TR/skos-primer/">SKOS</a> vocabularies (sometimes called taxonomies) on the Internet in both human- and machine-readable forms.
    </h4>

<p>See the <a href="about">About page</a> for more information.</p>

<h2>Starting Points</h2>
<p>This instance of VocPrez is configured specifically to deliver the OGC's vocabularies. This means the particular options available and the models of information may be slightly different from other VocPrez instances.</p>
<p>The OGC conceives of SKOS <em>vocabularies</em> as being distinct concept schemes so that the list of 'vocabularies' is a list of <code>skos:ConceptScheme</code> instances. See the full list:</p>
<ul>
    <li><a href="{{ url_for('routes.vocabularies') }}">OGC Vocabularies</a></li>
</ul>

{% endblock %}
